<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>User List - Hamza Tasneem</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href="/fonts/font_quicksand.css" rel="stylesheet">
    <link href="/fonts/font_raleway.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">
</head>

<body>
    <div class="container">
        <%- include ../includes/header_menu.ejs %>
        <div class="main">
            <%- include ../includes/sidebar.ejs %>
            <div class=" portfolio-col portfolio-left-col ">

                <div class="col-content">

                    <div class="form_outer_extra">
                        <fieldset>
                            <legend>All Posts (<%= users.length %>):</legend>
                            
                            <div class="single-post">
                                    <div class="post-element">User Email</div>
                                    <div class="post-element">Options</div>
                                </div>


                            <% users.forEach(function(user){ %>
                            <div class="single-post">
                                <div class="post-element"><%= user.email %></div>
                                <div class="post-element">
                                    <a href="/users/edit/<%= user._id %>">
                                        <button class="post-btn user-edit" user_id="<%= user._id %>">Edit</button>
                                    </a>
                                    <button class="post-btn user-delete" user_id="<%= user._id %>">Delete</button>
                                </div>
                            </div>
                            <% }) %>
                            <div></div>
                            </br>
                            <span id="status"></span>
                        </fieldset>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script src="/libs/jquery/jquery-3.4.1.min.js"></script>

    <script>

        $(".user-delete").click(function () {
            let user_id = $(this).attr("user_id");
            console.log(user_id);

            $.ajax({
                url: "/users/delete",
                type: "DELETE",
                data: { user_id },
                success: function (response) {
                    $("#status").empty().text(response.message);
                    if (response.success) location = location
                },
                error: function (error) {
                    $("#status").text("Connection Error - Kindly try at a later time");
                }
            });

        });
    </script>

</body>

</html>